
    <div class="conten-wraper max-w-screen-2xl text-base bg-white">
        <header class="">
            <nav class="flex justify-center items-center">
                <div class="py-2" > 
                    <div class="pi pi-user basis-1/12 px-3" style="font-size: 2rem"></div>
                    <input type="text" class=" w-48 mr-48 left-14 bg-transparent outline-none" placeholder="user" >                  
                </div >               
                <ul class="basis-4/6 hidden lg:flex lg:items-center lg:justify-end lg:gap-8 text-xs text-gray-500  " >
                    <li class="ct-top-menu-item ">
                        <a href="" class="">THỐNG KÊ</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a routerLink="/showtime" routerLinkActive="active">SUẤT CHIẾU</a>
                    </li>               
                    <li class="ct-top-menu-item">
                        <a href="" class="">SẢN PHẨM</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">NHÂN SỰ</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">KHÁCH HÀNG </a>
                    </li>                    
                    <li class="ct-top-menu-item ">
                        <a href="" class="">VOUCHER</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">PHIM</a>
                    </li>
                    <li class="ct-top-menu-item ">
                        <a href="" class="">SỰ CỐ</a>
                    </li>
                </ul>
                <div class="pi-menu pi pi-bars " (click)="pimenu()"></div>
            </nav>
        </header>
    </div>
    