
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh
}

.body-login{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: flexed;
    min-height:100vh;
   
    
}
.btn-login{
   
    @apply items-center text-center py-2 px-6 bg-orange-400 rounded-xl w-full ;
}
.wrapper-login{
    
    width: 500px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* @apply bg-transparent w-80 h-96 items-center text-center  */
}
.form-box-login form{
    @apply w-80
}
.form-box-login h2{
   
    @apply text-center text-4xl text-black
}
.input-box{
    @apply relative w-full h-16 border-b-2 py-0.5 my-7 border-b-black
}
.input-box label {
  
    @apply absolute translate-y-2/4 text-base text-gray-700 font-medium pointer-events-none left-2 delay-150
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -20px;
}

.input-box input {
    @apply w-full h-full bg-transparent border-none outline-none
}
.input-box .pi {
    @apply absolute right-2 text-base mt-3
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @apply pl-48
}