<div>
    <div class="" >
        <body class="body-login">
            <div class=" wrapper-login">
                <div class="form-box-login ">
                    <h2><b>LOGIN</b></h2>
                    <form action="#" >
                        <div class="input-box">
                            <i class="pi pi-user" style="font-size: 1.25rem"></i>             
                            <input type="text" required>
                            <label class="ml-2">User</label>
                        </div>                       
                        <div class="input-box">
                            <i class="pi pi-eye" style="font-size: 1.25rem"></i>             
                            <input type="password" required>
                            <label class="ml-2">Password</label>
                        </div>
                        <div class="forgot">
                            <section>
                                <a href="#">forgot password ?</a>
                            </section>
                        </div>
                        <div class="btn-login ">
                            <button ><a routerLink="/trangchu" routerLinkActive="active">LOGIN</a></button>
                        </div>                       
                    </form>
                </div>
            </div>
        </body>      
    </div>
    <div></div>
</div>
<router-outlet></router-outlet>
