@import "primeicons/primeicons.css";

*{
    font-family:'poppins' sans-serif;
    @apply box-border 
}
header {
    @apply fixed h-24 w-full py-5 bg-white  content-between items-center z-[99] mb-20
}
.logo{
    font-size: 2rem;
    color: #212121;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 80px;
    @apply mx-6 -my-5 items-start pl-0 mr-24 
       
}

 .ct-top-menu-item{
    @apply relative text-xs text-white 
    decoration-clone  
    ml-1 py-5
    after:absolute     
    after:bottom-0 
    after:left-0 
    after:bg-orange-700
    after:h-1 
    after:w-0 
    hover:after:w-full 
    after:transition-all  
    after:ease-in-out 
    after:duration-300;
} 

.bm-icon{ @apply
    w-5
    h-5
    inline-block
}
.pi-menu {
    @apply justify-start items-center ml-8 lg:hidden
}


.item{
    @apply text-xs font-normal  p-4 rounded min-w-fit
}

.selected-item{
    @apply bg-gray-900 text-white item 
}
.default-item {
 @apply item text-gray-900 bg-white hover:text-white hover:bg-gray-900
}

