
<div>
    <div class="" >
        <body class="body-login">
            <div class=" wrapper-login">
                <div class="form-box-login ">
                    <h2><b> Xác Nhận Thanh Toán</b></h2>
                    <form class="form">
                        <div class="label">
                            <label >Phim</label>
                            <br>
                            <label >Ngày Chiếu</label>
                            <br>
                            <label >Suất Chiếu</label>
                            <br>
                            <label >Rạp</label>
                            <br>
                            <label >Ghế</label>
                            <br>
                            <label >Giá Vé</label>
                        </div>
                        <div class="text-xl">Tổng</div>
                    </form>
                    <div class="btn grid grid-cols-2 gap-16">
                        <button class="btn-bill " (click)="cancel()">TRỞ VỀ</button>
                        <button class="btn-bill " (click)="pay()">THANH TOÁN</button>
                    </div>
                </div>
            </div>
        </body>      
    </div>
</div>