
<div class="px-44">
    <div class="max-w-screen-2xl text-base mx-auto px-8 bg-gray-500 flex justify-between">
        <div class="grid grid-cols-2 ">
            <div class="">
                <span class="pi pi-facebook bg-gray-500 mr-3 mt-3" style="font-size: 1.5rem;" ></span>
                <span class="pi pi-twitter bg-gray-500 mr-3" style="font-size: 1.5rem;"></span>
                <span class="pi pi-google bg-gray-500 mr-3" style="font-size: 1.5rem;"></span>        
            </div>
        </div>
        <div class="mr-10 py-3" >
            <button class="orange-button mr-10" ><a routerLink="/login" routerLinkActive="active">Đăng Nhập</a></button>
            <button class="orange-button">Đăng Ký</button>                    
        </div>
    </div>
    <div class="conten-wraper max-w-screen-2xl text-base mx-auto px-8 bg-white">
        <header class="py-6 mx-10">
            <nav class="flex flex-row justify-center items-center">
                <div class="logo basis-2/6 text-center text-xl font-semibold cursor-pointer">
                    logo
                </div >
                <ul class="basis-3/6 hidden lg:flex lg:items-center lg:justify-end lg:gap-4 text-sm text-gray-500 font-medium ">
                    <li class="ct-top-menu-item">
                        <a href="" class="">TRANG CHỦ</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">LỊCH CHIẾU</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">PHIM</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">KHUYẾN MÃI</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">ĐIỆN ẢNH</a>
                    </li>
                    <li class="ct-top-menu-item">
                        <a href="" class="">LIÊN HỆ</a>
                    </li>
                </ul>
                <div class="pi pi-bars justify-start items-center ml-16 lg:hidden"></div>
            </nav>
        </header>
    </div>
    <!-- <div class="">
        <img src="https://starlight.vn/Areas/Admin/Content/Fileuploads/images/Slider/quy%20quyet.jpg" alt="">
    </div>
     -->
<!--     
     <router-outlet></router-outlet> -->

    <footer class=" mx-0 pb-24 bg-gray-500">
        <div class="flex px-28 py-12">
            <div class="basis-1/3">
                <div>logo</div>
                <div >
                    <span class="pi pi-facebook bg-gray-500 mr-3 mt-3" style="font-size: 1.5rem;" ></span>
                    <span class="pi pi-twitter bg-gray-500 mr-3" style="font-size: 1.5rem;"></span>
                    <span class="pi pi-google bg-gray-500 mr-3" style="font-size: 1.5rem;"></span>        
                </div>
            </div>
            <div class="basis-1/3 ">
                <div class="text-xl text-gray-950">CHÍNH SÁCH</div>
                <div class="text-gray-800">
                    <div class="pi pi-angle-double-right"><a href="">Điều Khoản Chung</a></div>
                    <div class="pi pi-angle-double-right"><a href="">Chính Sách Thanh Toán</a></div>
                    <div class="pi pi-angle-double-right"><a href="">Chính Sách Bảo Mật</a></div>
                    <div class="pi pi-angle-double-right"><a href="">Chính Sách Thanh Toán </a></div>
                    <div class="pi pi-angle-double-right"><a href="">Điều Khoản Chung </a></div>                   
                </div>
            </div>
            <div class="text-xl text-gray-950">
                <div>CHĂM SÓC KHÁCH HÀNG</div>
                <div class="text-gray-800">
                    <div>Support: Support@starlight.vn</div>
                    <div>Hotline: 1900 1722</div>
                </div>
            </div>
        </div>      
    </footer>
</div>

